.pagination {
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    margin: 30px auto;
    span {
        display: block;
        width: 30px;
        background-color: white;
        height: 30px;
        font-size: 23px;
        text-align: center;
        color: #1A2751;
        border: 0.5px solid lightblue;
        cursor: pointer;
        &.selected {
            background-color: #51568D;
            color: white;
        }
        &:hover {
            opacity: 0.8;
            border: 0.5px solid black;
        }
    }
}